.App {
  text-align: center;
  height: 20vmin;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 45vmin;
  pointer-events: none;
}


.App-header {
  background-color: darkgreen;
  font-family: "Chalkduster", fantasy;
  font-size: 50px;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* font-size: calc(10px + 2vmin); */
  color: #00008B;
  text-shadow: 2px 2px #61dafb;
}

.cardForPlayers {
  display: flex;
  align-content: center;
  align-items: center;
  flex-flow: column;
  font-size: 35px;


}

.description {
  border: 3px solid darkgreen;
  margin: 15px 15px 15px 15px;
  padding: 5px 5px 5px 5px;
  font-family: "Chalkduster", fantasy;
  color:  #00008B;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
